
header {

    width: 90%;

    height: 100px;

    background-color:#D2F5B3 ;

    border: 4px solid #E362F5;
    

    padding: 10px;

    margin: 25px;

}



nav {

    position: fixed;

    width: 90%;

    height: 50px;

    background-color:#F4DCF4;

    position: fixed;

    top: 170px;

    left: 35px;

}



article {

    width: 65%;

    height: 200px;

    background-color:#B078F5;

    border: 5px solid grey;

    position: relative;

    top: 15px;

}



aside {

    width: 40%;

    height: 420px;

    background-color: #D2F5B3;

    position: absolute;

    left: 50%;

    right: 10%;

    top: 235px;

}



footer {

    width: 100%;

    height: 50px;

    background-color: #B2B7F5;

    position: fixed;

    bottom: 0px;

}



.articles {

    position: relative;

    left: 30px;

    top: 45px;

    width: 65%;

    height: 70%;

}
